  .loginPage {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7) url('/assets/log.jpg') no-repeat center center/cover;
      font-family: 'Arial', sans-serif;
      position: relative;
  }

  .form-container {
      max-width: 700px;
      width: 30%;
      margin: 50px auto;
      padding: 40px;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 10;
  }

  .tabs {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
  }

  .tabs button {
      padding: 10px 20px;
      border: none;
      background: none;
      font-size: 16px;
      cursor: pointer;
      transition: color 0.3s ease, border-bottom 0.3s ease;
  }

  .tabs button.active {
      color: #0d98ba;
      font-weight: bold;
      border-bottom: 2px solid #0d98ba;
  }

  .tabs button {
      font-size: 1.5rem;
  }

  .tab-content {
      animation: fadeIn 0.3s ease-in-out;
  }

  .input-group {
      margin-bottom: 15px;
  }

  .input-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 1.2rem;
      color: white;
  }

  .input-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }

  button {
      width: 40%;
      padding: 12px;
      background-color: #0d98ba;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: block;
      margin: 0 auto;
  }

  button:hover {
      background-color: #0b7c96;
  }

  select {
      width: 103%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }

  .error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 10px;
      text-align: center;
  }

  .error-message p {
      margin: 0;
  }

  .alert {
      padding: 15px;
      margin: 10px 0;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;
      margin: 20px auto;
  }

  .success-alert {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
  }