<div class="users-container">
  <div class="header">
    <button class="add-user-btn" (click)="openAddModal()">Add New User</button>
    <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchQueryChange()" placeholder="Search Users"
      class="search-input">
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>PlanID</th>
        <th>Know nore</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.Name }}</td>
        <td>{{ user.EmailID }}</td>
        <td>{{ user.PhoneNumber }}</td>
        <td>{{ user.PlanID }}</td>
        <td>
          <button [routerLink]="['/adminPortal/users/userDetails', user.ID]" class="know-more-btn">
            <i class="fa fa-info-circle"></i> Know More
          </button>
        </td>
        <td>
          <button class="edit-btn" (click)="openEditModal(user)">
            <i class="fa fa-pencil-alt"></i> Edit
          </button>
          <button class="delete-btn" (click)="deleteUser(user.ID)">
            <i class="fa fa-trash-alt"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div [class.show]="showModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>User Form</h2>
        <button class="close-btn" (click)="closeModal()">X</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <label for="name">Name</label>
          <input id="name" formControlName="name" type="text">

          <label for="email">EmailID</label>
          <input id="email" formControlName="email" type="email">

          <label for="phone">Phone</label>
          <input id="phone" formControlName="mobile" type="text">

          <label for="password">Password</label>
          <input type="password" formControlName="password" id="password">

          <label for="plan">PlanID</label>
          <input type="text" formControlName="plan" id="plan">

          <div class="modal-footer">
            <button type="submit" class="save-btn">Save</button>
            <button type="button" class="cancel-btn" (click)="closeModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->