.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url('/assets/log.jpg') no-repeat center center/cover;
    font-family: 'Arial', sans-serif;
    position: relative;
}

h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
}

.role-options {
    display: flex;
    gap: 20px;
}

.role {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 150px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.role:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.role img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
    border: 2px solid #ffdd57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.role p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}